#page{
    padding: 50px;
    background-color: black;
    display: grid;
}

header{
    background-color: #000000;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    border-radius: 5px;
    position: relative;
    font-size: 75px;
    margin: 20px;
    
}

.container{
    /*
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    height: 60vh;
    margin: 50px;
    padding-block: 0px
    */
    display: flex;
    flex-wrap: row wrap;
}

button{
    width: 550px;
    height: 100px;
    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
    font-family: "Gill Sans", sans-serif;
}

button:hover{
    background-color: rgb(53, 53, 53);
}

button:active{
    background-color: rgb(131, 131, 131);
}

/*
#logo{
    height: 500px;
    width: 500;
}
*/

label{
    color: #ffffff;
    font-size: 50px;
    height: 100px;
    font-family: "Gill Sans", sans-serif;
}
