*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

main{
    flex:1;
    display: flex;
}

#gameCanvas{
    border: 2px solid red;
}
